.outer-home {
    margin: auto;
    height: 600px;
    width: 1200px;
    border: 2px solid #00796b;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    position: relative;
    padding: 10px;
    box-sizing: border-box;
}

.logout{
    position: absolute;
    left: 76em;
    bottom: 34em;
    width: 50px;
    height: 50px;
    background-color: #bbc9c7;
    border-radius: 100%;
    color: #00796b;
}
